---
import Tarjeta from "../components/Tarjeta.astro";

---

<main class="w-screen h-screen border-red-600 items-center border-2 flex">
    <section class="flex flex-col md:flex-wrap  justify-center w-[100%] md:w-[88%] h-screen m-auto border-2">
        <Tarjeta jefe="/david.jpg" numero="968 555 333" david="scale-100"></Tarjeta>
        <Tarjeta jefe="/david.jpg" numero="968 555 333" david="scale-100"></Tarjeta>
        <Tarjeta jefe="/david.jpg" numero="968 555 333" david="scale-100"></Tarjeta>
        <Tarjeta jefe="/david.jpg" numero="968 555 333" david="scale-100"></Tarjeta>
    </section>
</main>