---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Auxiliar Manipuladora del Cart칩n">
	<main>
		<img src="/logo-aux.svg" alt="logo de Auxiliar Manipuladora del Cart칩n" class="w-[55%] self-center">
		<button class="instructions">
			<span class="text-gradient pointer-events-auto">Entra y con칩cenos</span>
		</button>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Catalogo"
				body="Descubre nuestro principales productos."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Servicios"
				body="Accede a nuestro servicios y cons칰ltanos."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Dise침o"
				body="쯅ecesitas un dise침o? 쮼st치s desarrollando un proyecto?."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Contacto"
				body="Come say hi to our amazing Discord community. 游늷  "
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 1.5rem;
		max-width: 60%;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		color: rgb(var(--accent));
		
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
