---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Auxiliar Manipuladora del Cart칩n">
	<main class="bg-white">
		<section class="place-content-center p-4 md:p-12 bg-slate-50 max-w-xs md:max-w-2xl">
			<img src="/logo-aux.svg" alt="logo de Auxiliar Manipuladora del Cart칩n" class="w-[100%] md:w-[66%] self-center">
			<div class="flex flex-col w-[100%]">
				<button class="instructions mt-12 w-auto self-center">
					<span class="text-gradient pointer-events-auto">Entra y con칩cenos</span>
				</button>
				<span class="text-sm mb-2 mt-6 text-slate-400 ml-20">o ve al grano...</span>
				<ul role="list" class="link-card-grid self-center">
					<Card
						href="https://docs.astro.build/"
						title="Catalogo"
						body="Descubre nuestro principales productos."
					/>
					<Card
						href="https://astro.build/integrations/"
						title="Servicios"
						body="Accede a nuestro servicios y cons칰ltanos."
					/>
					<Card
						href="https://astro.build/themes/"
						title="Dise침o"
						body="쯅ecesitas un dise침o? 쮼st치s desarrollando un proyecto?."
					/>
					<Card
						href="https://astro.build/chat/"
						title="Contacto"
						body="Come say hi to our amazing Discord community. 游늷  "
					/>
				</ul>
			</div>
		</section>
	</main>
</Layout>

<style>
	section {
		/* position: absolute; */

		display: flex;
		flex-direction: column;
		margin: auto;
		
		padding: 1.5rem;
		/* max-width: 70%; */
		height: 100vh;
		place-self: center;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		color: rgb(var(--accent));
		
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
