---
import Layout from "./Layout.astro";
import { menuItems } from "../data/menuItems";
const { title } = Astro.props;

---
<Layout title={title}>

    <main class="border-8 border-red-400 max-w-screen max-h-screen">
        <nav class="flex bg-black ralative justify-between">
            <a href="/" class="p-2"><img class="w-8" src="/home.svg" alt="icono de home"></a>
            <ul class="text-white p-2 flex gap-2">
                { menuItems.map( item => (
                    <li>
                        <a href={item.url}>
                            <span>{item.nombre}</span>
                        </a>
                    </li>
                ))}
            </ul>
        </nav>
        
        
        <slot/>
        
        
        <footer class="absolute bottom-0 left-4 text-zinc-400 text-[.8rem]">
            <span>
                Aviso Legal - Marca Registrada@
            </span>
        </footer>


    </main>



</Layout>

<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>